html {
  height: 100vh;
  background-color: silver;
}
body {
  height: 100vh;
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.container {
  display:flex;
  flex-direction: column;
}

.header {
  padding-left: 1.5em;
  color: white;
  background-color:#124766;
}
.navbar {
  display: flex;
  flex-direction:row;
  flex: 0;
}

/* Project of Cards */
.card_body {
  margin: 1em 0px 0px 1em;
  display:grid;
  grid-template-columns: 225px;
  grid-auto-rows: repeat(auto-fill,250px);
  grid-gap: 3em;
  }

  .card_content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 4px;
  padding: .5rem;
  box-shadow: .4em .4em 1em;
  background-color: grey;
  }

  .card_images {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  filter: contrast(70%);
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  }
  .card_images:hover{
   filter: contrast(100%);
  }

  a {
    color: #0501f7a8;
  }
  a:visited {
    color: #004a86;
  }
  a:hover, a:active, a:focus {
    color:#c33;
  }
  .header_href {
    color:aqua
  }
  .header_href:visited
  {
    color:rgba(3, 105, 105, 0.712)
  }

/* Media Queries */
@media(min-width: 640px){

}

@media(min-width: 1024px){

}